<div class="es-topmost">
    <div class="es-content-main">
        <div class="es-title">
            <span class="es-title-sp">Subscribe to the blogs</span>
        </div>
        <form action="https://send.pageclip.co/zNoVhumQBPjWQVdrl6VCfMm29ddcbB6v/blogs-subscriptions" class="pageclip-form" method="post">
            <div class="es-form-main">
                <input class="es-email" name="email" required type="email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" minlength="6" placeholder="Email">
                <button class="es-submit pageclip-form__submit" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <script src="https://s.pageclip.co/v1/pageclip.js" charset="utf-8"></script>
</div>