{% if page.title != "About Me" %}
<footer class="site-footer">
  <hr class="footer-hr">
  <div align="center">
  <p>
  <a href="mailto:jogendrafx@gmail.com"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></a>
  &nbsp; &nbsp; &nbsp;
  <a href="https://github.com/jogendra"><i class="fa fa-github" aria-hidden="true"></i></a>
  &nbsp; &nbsp; &nbsp;
  <a href="https://twitter.com/jogendrafx"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  &nbsp; &nbsp; &nbsp;
  <a href="https://www.linkedin.com/in/jogendrasingh24/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
  &nbsp; &nbsp; &nbsp;
  <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss" aria-hidden="true"></i></a>
  &nbsp; &nbsp; &nbsp;
  </p>
  </div>
  <p class="credit">Designed and Developed by <a href="https://twitter.com/jogendrafx">Jogendra</a> in <i class="fa fa-heart"></i> with <i class="fa fa-code"></i> and <i class="fa fa-coffee"></i></p>

</footer>
{% endif %}
<!-- Scripts -->
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js"></script>
<script id="dsq-count-scr" src="//iammichaelhudson.disqus.com/count.js" async></script>
<script>

$(document).ready(function() {

  // Syntax highlighting
  hljs.initHighlightingOnLoad();

  // Header
  var menuToggle = $('#js-mobile-menu').unbind();
  $('#js-navigation-menu').removeClass("show");
  menuToggle.on('click', function(e) {
    e.preventDefault();
    $('#js-navigation-menu').slideToggle(function(){
      if($('#js-navigation-menu').is(':hidden')) {
        $('#js-navigation-menu').removeAttr('style');
      }
    });
  });

  //Make sure all the post's links open in a new tab
  jQuery('.post-content a, .post-excerpt a').not('.footnote, .reversefootnote').attr ('target', '_blank');

});

</script>

{% if site.ga_tracking_id and site.github %}
<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ site.ga_tracking_id }}', 'auto');
  ga('send', 'pageview', {
    'page': '{{ page.url }}',
    'title': '{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}'
  });
</script>
{% endif %}
