<link href="../lightbox/lightbox.css" rel="stylesheet" />
<script src="../lightbox/lightbox.js"></script>

<div class="chidiya-gallery">
    {% for image in page.drone-images %}
    <div class="chidiya-item">
        <a href="{{ image.image_path }}" data-lightbox="DroneShots" data-title="{{ image.place }}" class="lbox">
            <img src="{{ image.thumbnail }}" alt="{{ image.title}}">
        </a>
        <!-- <div class="info">
            {% if image.place %}
            <p><i class="fa fa-map-marker"></i>   {{ image.place }}</p>
            {% endif %}
            {% if image.date %}
            <p><i class="fa fa-calendar"></i>   {{ image.date }}</p>
            {% endif %}
        </div> -->
    </div>
    {% endfor %}
</div>