<div align="center">

    <p>
    <a href="https://github.com/jogendra"><i class="fa fa-github" aria-hidden="true" style="font-size:40px;color:#fff"></i></a>
    &nbsp; &nbsp; &nbsp;
    <a href="https://twitter.com/jogendrafx"><i class="fa fa-twitter" aria-hidden="true" style="font-size:40px;color:#fff"></i></a>
    &nbsp; &nbsp; &nbsp;
    <a href="https://www.linkedin.com/in/jogendrasingh24/"><i class="fa fa-linkedin" aria-hidden="true" style="font-size:40px;color:#fff"></i></a>
    &nbsp; &nbsp; &nbsp;
    </p>

</div>